.card {
    display: flex;
    border: 1px solid black;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
}

.card * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5px;
}

.card * .submit-button{
    max-width: fit-content;
}
